

.nombre{
 
  color: #000;
}



main
{
background-color: blue;
color: white;
font-size: 20px;
}

.nv-bg{
    background-color:black;
}

.contenedor{
    width: 120rem
    margin: 0 auto;
}

.navegacion{
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    
}

.navegacion a{
  color: #ffffff;
  text-decoration: none;
    
}