body
{

background-color: rgba(0, 0, 0, 0.316); 
font-size: 20px; 
color: aliceblue;

}

.nombre{
    color: black;

    text-align: center;
}
header
{
    display: grid;
    background-color: chartreuse;
    color: thistle;
    
}
li
{
    color: black;
}

main
{

padding: 20px;
background-color: blue;
color: white;
font-size: 20px;
}